<body>
    <div class='title'>
        <p>Accueil</p>
    </div>
    <div class="container" id="container" ref="container">
        <li>
            <section class="main" style="padding-top: 4vw; min-width: 100vw;">
                <img class="first_deco" src="../../assets/pink_ball.png" />
                <img class="sec_deco" src="../../assets/pink_ball1.png" />
                <div class="lobby" data-speed="-5">
                    <p style="font-size: 4vh; margin-bottom: -100px; margin-left: 4vw;">Bonjour, je m'appelle</p>
                    <p style="font-size: 11vh; margin-left: 9vw;">Kevin Nguyen</p>
                    <p style="font-size: 4vh; margin-bottom: -150px; margin-left: 4vw;">Bienvenue sur mon</p>
                    <p style="font-size: 14vh; padding-top: 10px; letter-spacing: 30px; margin-left: 9vw;">PORTFOLIO</p>
                </div>
            </section>
        </li>
        <li>
            <section class="main" style="min-width: 92vw;">
                <div class="title2">
                    <p>Introduction</p>
                </div>
                <div class="introduction">
                    <p>Je suis développeur fullstack depuis 2020. Durant ma formation, j'ai trouvé un grand intêrét pour le
                        développement web.
                        Ayant un esprit créatif et guidé par mes centres d'intêrét, je pense que le design et l'esthétisme
                        sont des aspects puissants et importants
                        dans le dévelopemment d'un site ou d'une application. C'est pour cela que j'essaye toujours de créer
                        des designs qui apportent une
                        bonne expérience pour l'utilisateur. Je suis encore tout frais dans ce domaine, mais j'ai une grande
                        envie d'amélioration et trouver mon propre style.
                    </p>
                    <p>
                        Dans ce portfolio, vous pourrez trouver des informations sur mes formations et mes expériences. Cela
                        me donne aussi l'occasion de montrer mon travail
                        et j'espère que cela dégagera une certaine aura de progression. N'hésitez pas à me contacter si vous
                        avez d'autres questions.
                    </p>
                </div>
            </section>
        </li>
        <div class="line" id="line"></div>
        <div class="line2"></div>
    </div>
</body>