<body>
    <div class="container">
        <div class="blocHorz">
            <section class="main" style="width: 100vw;">
                <div class='title'>
                    <p>Accueil</p>
                </div>
            
                <div class="lobby">
                    <p style="font-size: 48px; margin-bottom: -100px;">Hello, my name is</p>
                    <p style="font-size: 100px;">Kevin Nguyen</p>
                    <p style="font-size: 48px; margin-bottom: -150px;">Welcome to my</p>
                    <p style="font-size: 150px; letter-spacing: 30px;">PORTFOLIO</p>
                </div>
                <img class="first_deco" src="../../assets/pink_ball.png"/>
                <img class="sec_deco" src="../../assets/pink_ball1.png"/>
            </section>
            <section class="main" style="width: 60vw;">
                <div class="title2">
                    <p>Introduction</p>
                </div>
                <div class="introduction">
                    <p>I am a fullstack developer since 2020. I found a great interest in web development and I am eager to learn more about
                        this world. As I identify myself as someone creative, I believe that designing is a powerful aspect in web development,
                        and I will always try to make user-friendly web design to bring a surprising experience everytime someone travel through my work.
                    </p>
                    <p>
                        This portfolio contains information about my formations and my experiences. You'll be able to see some of my works
                        and I hope you will notice a kind of progression. Don't hesitate to contact me for additional questions.
                    </p>
                </div>
            </section>
        </div>
        <div class="line"></div>
    </div>
</body>