<body>
    <div class="container">
        <div class="blocHorz">
            <section class="main">
                <div class='title'>
                    <p>Accueil</p>
                </div>
            
                <div class="lobby">
                    <p style="font-size: 48px; margin-bottom: -100px;">Hello, my name is</p>
                    <p style="font-size: 100px;">Kevin Nguyen</p>
                    <p style="font-size: 48px; margin-bottom: -150px;">Welcome to my</p>
                    <p style="font-size: 150px; letter-spacing: 30px;">PORTFOLIO</p>
                </div>
                <img class="first_deco" src="../../assets/pink_ball.png"/>
            </section>
            <section class="main">
                <div class="lobby">
                    <p style="font-size: 48px; margin-bottom: -100px;">Hello, my name is</p>
                    <p style="font-size: 100px;">Kevin Nguyen</p>
                    <p style="font-size: 48px; margin-bottom: -150px;">Welcome to my</p>
                    <p style="font-size: 150px; letter-spacing: 30px;">PORTFOLIO</p>
                </div>
            </section>
        </div>
        <div class="line"></div>
    </div>
</body>