.title{
    padding-top: 30px;
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}

.title2{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.introduction{
    position: relative;
    width: 50vw;
    height: 100vh;
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.lobby{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
}