<body>
    <div class="container">
        <div class="title">
            <p>Formations</p>
        </div>
        <div class="card-container">
            <div style="margin-bottom: 100px;" class="card">
                <div class="card-title">
                    <p>Diplôme d'ingénieur</p>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <p>DUT GEII</p>
                </div>
            </div>
        </div>
        <img style="top: 40px;" class="image-frame" src="../../assets/esiea.png"/>
        <img style="top: 490px;" class="image-frame" src="../../assets/upec.png"/>
        <img class="first_deco" src="../../assets/EXP.png"/>
    </div>
</body>