<html>
    <body>
        <div class="menu">
            <p style="margin-bottom: -125px;">M</p>
            <p style="margin-bottom: -125px;">E</p>
            <p style="margin-bottom: -125px;">N</p>
            <p>U</p>
        </div>
        <nav>
            <div class="onglet" style="background-color: #a17d83;">
                <a href="#">ACCUEIL</a>
            </div>
            <div class="onglet" style="background-color: #fabca0;">
                <a href="#">FORMATIONS</a>
            </div>
            <div class="onglet" style="background-color: #ffffff;">
                <a href="#">EXPERIENCES</a>
            </div>
            <div class="onglet" style="background-color: #9ba5b1;">
                <a href="#">CONTACT</a>
            </div>
        </nav>
    </body>
</html>

