body::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu{
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Lexend Zetta', sans-serif;
    transition: all 0.5s;
}

.extendedmenu{
    width: 350px;
}

.menu:hover{
    font-size: 105px;
}

nav{
    display: none;
    position: absolute;
    top: 0px;
    left: -1250px;
    width: 1570px;
    height: 100%;
    transform: all 1s;
}

.active_nav{
    transition: all 1s;
    display: block;
}

.hidden{
    display: none;
}

.visuallyhidden{
    opacity: 0;
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateX(0);
    }
    to{
        opacity: 1;
        transform: translateX(1600px);
    }
}

.onglet{
    display: block;
    width: auto;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 100px;
    color: black;
    font-family: 'Lexend Zetta', sans-serif;
    transition: all 1s;
    animation: fadein ease-out 0.75s forwards;
}

@keyframes fadeout{
    from{
        opacity: 1;
        transform: translateX(-1600px);
    }
    to{
        opacity: 0;
        transform: translateX(0);
    }
}

.onglet:hover{
    letter-spacing: 10px;
}

.chosen{
    height: 35%;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}